#player {
	width: 250px;
	position: absolute;
	top: 100px;
	left: 100px;

}
img  {
	width: 50px;
	position: absolute;
	top: 100px;
	left: 10px;
}

body {
	background-color: #a2e1d9;
}

#footer {
	position: fixed;
	padding: 10px 10px 0px 10px;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: green;
	text-align: center;
	opacity: 50%;
	font-weight: 400;
}
